<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="lpcarrier" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Lithuanian Post</label>
                <field id="status_label" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <comment model="\Eshoper\LPShipping\Model\Config\Source\ModuleStatus" />
                </field>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="available_services" type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Available Services</label>
                    <source_model>Eshoper\LPShipping\Model\Config\Source\AvailableServices</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <group id="lpcarrierapi" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <attribute type="expanded">1</attribute>
                    <label>Authorization Settings</label>
                    <field id="test_mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="api_login" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Username</label>
                        <comment>Username from manosiuntos.post.lt</comment>
                    </field>
                    <field id="api_password" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Password</label>
                        <comment>Password from manosiuntos.post.lt</comment>
                    </field>
                </group>
                <group id="lpcarriersender" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <depends>
                        <field id="*/*/status">1</field>
                    </depends>
                    <attribute type="expanded">1</attribute>
                    <label>Sender Information</label>
                    <field id="sender_name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Name</label>
                        <validate>validate-length maximum-length-100</validate>
                        <comment>Maximum length: 100 characters</comment>
                    </field>
                    <field id="sender_phone" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Phone</label>
                        <validate>validate-phone-number</validate>
                        <comment>Format: 370XXXXXXXX</comment>
                    </field>
                    <field id="sender_email" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Email</label>
                        <validate>validate-email validate-length maximum-length-128</validate>
                        <comment>Maximum length: 128 characters</comment>
                    </field>
                    <field id="sender_country" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Country</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\AvailableCountries</source_model>
                    </field>
                    <field id="sender_city" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>City</label>
                        <validate>validate-length maximum-length-20</validate>
                        <comment>Maximum length: 20 characters</comment>
                    </field>
                    <field id="sender_street" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Street</label>
                        <validate>validate-length maximum-length-50</validate>
                        <comment>Maximum length: 50 characters</comment>
                    </field>
                    <field id="sender_building_number" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Building Number</label>
                        <validate>validate-length maximum-length-20</validate>
                        <comment>Maximum length: 20 characters</comment>
                    </field>
                    <field id="sender_apartment_number" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Apartment Number</label>
                        <validate>validate-length maximum-length-20</validate>
                        <comment>Maximum length: 20 characters</comment>
                    </field>
                    <field id="sender_postcode" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Code</label>
                    </field>
                </group>
                <group id="lpcarriershipping_lp" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lithuanian Post Delivery Settings</label>
                    <depends>
                        <field id="*/*/available_services" separator=",">0,1</field>
                        <field id="*/*/status">1</field>
                    </depends>
                    <field id="allowedmethods" type="multiselect" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Delivery Methods Lithuanian Post</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPDeliveryMethods</source_model>
                        <comment>Press "CTRL" button on your keyboard to select multiple</comment>
                    </field>
                    <field id="lp_postoffice_price" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Office Delivery Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <comment>Leave empty if you want to use Price vs Weight table.</comment>
                    </field>
                    <field id="lp_shipping_postoffice_size" type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Office Shipping Size</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPShippingSizes</source_model>
                    </field>
                    <field id="lp_postoffice_delivery_time" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Office Delivery Time</label>
                        <comment>Example: 4 d.d.</comment>
                    </field>
                    <field id="lp_overseas_price" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Delivery Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <comment>Leave empty if you want to use Price vs Country table.</comment>
                    </field>
                    <field id="lp_shipping_overseas_size" type="select" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Shipping Size</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPShippingSizes::toOverseasOptionArray</source_model>
                    </field>
                    <field id="lp_shipping_overseas_delivery_time" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Delivery Time</label>
                        <comment>Example: 4 d.d.</comment>
                    </field>
                    <field id="export_rates" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Export" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Export Price vs Weight</label>
                    </field>
                    <field id="import_rates" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Import" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Import Price vs Weight</label>
                        <backend_model>Eshoper\LPShipping\Model\Config\Backend\LPTableRates\Rates</backend_model>
                    </field>
                    <field id="export_country" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Export" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Export Price vs Country</label>
                    </field>
                    <field id="import_country" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Import" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Import Price vs Country</label>
                        <backend_model>Eshoper\LPShipping\Model\Config\Backend\LPCountryRates\Rates</backend_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Ship to Specific Countries</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\AvailableCountries::availableCountries</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                </group>
                <group id="lpcarriershipping_lpexpress" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="*/*/available_services" separator=",">0,2</field>
                        <field id="*/*/status">1</field>
                    </depends>
                    <label>LP EXPRESS Delivery Settings</label>
                    <field id="allowedmethods" type="multiselect" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Delivery Methods LP EXPRESS</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressDeliveryMethods</source_model>
                        <comment>Press "CTRL" button on your keyboard to select multiple</comment>
                    </field>
                    <field id="lpexpress_courier_price" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Courier Delivery Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <comment>Leave empty if you want to use Price vs Weight table.</comment>
                    </field>
                    <field id="lpexpress_shipping_courier_method" type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Courier Shipping Method</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressShippingMethods</source_model>
                    </field>
                    <field id="lpexpress_shipping_courier_size" type="select" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Courier Shipping Size</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressShippingSizes</source_model>
                        <depends>
                            <field id="lpexpress_shipping_courier_method">CHCA</field>
                        </depends>
                    </field>
                    <field id="lpexpress_shipping_courier_delivery_time" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Courier Delivery Time</label>
                        <comment>Example: 4 d.d.</comment>
                    </field>
                    <field id="call_courier_automatically" type="select" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Call Courier Automatically</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="lpexpress_terminal_price" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Terminal Delivery Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <comment>Leave empty if you want to use Price vs Weight table.</comment>
                    </field>
                    <field id="lpexpress_shipping_terminal_method" type="select" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Terminal Shipping Method</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressTerminalShippingMethods</source_model>
                    </field>
                    <field id="lpexpress_shipping_terminal_size" type="select" translate="label" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Terminal Shipping Size</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressShippingSizes</source_model>
                    </field>
                    <field id="lpexpress_shipping_terminal_delivery_time" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Terminal Delivery Time</label>
                        <comment>Example: 4 d.d.</comment>
                    </field>
                    <field id="lpexpress_postoffice_price" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Office Delivery Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <comment>Leave empty if you want to use Price vs Weight table.</comment>
                    </field>
                    <field id="lpexpress_shipping_postoffice_method" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Office Shipping Method</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressPostOfficeMethods</source_model>
                    </field>
                    <field id="lpexpress_postoffice_delivery_time" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Post Office Delivery Time</label>
                        <comment>Example: 4 d.d.</comment>
                    </field>
                    <field id="lpexpress_overseas_price" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Delivery Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <comment>Leave empty if you want to use Price vs Country table.</comment>
                    </field>
                    <field id="lpexpress_shipping_overseas_method" type="select" translate="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Shipping Method</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressShippingMethods</source_model>
                    </field>
                    <field id="lpexpress_shipping_overseas_courier_size" type="select" translate="label" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Shipping Size</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LPExpressShippingSizes</source_model>
                        <depends>
                            <field id="lpexpress_shipping_overseas_method">CHCA</field>
                        </depends>
                    </field>
                    <field id="lpexpress_overseas_delivery_time" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Overseas Delivery Time</label>
                        <comment>Example: 4 d.d.</comment>
                    </field>
                    <field id="export_rates" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Export" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Export Price vs Weight</label>
                    </field>
                    <field id="import_rates" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Import" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Import Price vs Weight</label>
                        <backend_model>Eshoper\LPShipping\Model\Config\Backend\LPExpressTableRates\Rates</backend_model>
                    </field>
                    <field id="export_country" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Export" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Export Price vs Country</label>
                    </field>
                    <field id="import_country" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Import" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Import Price vs Country</label>
                        <backend_model>Eshoper\LPShipping\Model\Config\Backend\LPExpressCountryRates\Rates</backend_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Ship to Specific Countries</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\AvailableCountries::availableCountries</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                </group>
                <group id="lpcarriershipping_other_settings" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <depends>
                        <field id="*/*/status">1</field>
                    </depends>
                    <label>Other Settings</label>
                    <field id="consigment_formation" type="multiselect" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Consignment Formation</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\ConsigmentFormation</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="label_format" type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Label Format</label>
                        <source_model>Eshoper\LPShipping\Model\Config\Source\LabelFormat</source_model>
                    </field>
                </group>
                <group id="lpcarriershipping_troubleshoot" translate="label" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Help</label>
                    <field id="troubleshoot" translate="label" type="Eshoper\LPShipping\Block\Adminhtml\Form\Field\Troubleshoot" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Help</label>
                    </field>
                </group>
                <field id="status" translate="label" type="hidden" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends> <!-- just hidden field adding random depend value so the scope will be hidden -->
                        <field id="*/*/available_services">3</field>
                    </depends>
                </field>
            </group>
            <!-- carrier-group -->
        </section>
    </system>
</config>
